/*import fonts from fonts.css file*/
@import url(./font.css);


/* Début Zone initialisation tout */
            body{
                padding:0;
                margin:0;
                font-family: "FrederickatheGreat"; 
            }
            .fond-noir{
                background-color:#1e1f1a;
                color:white;
            }
            .fond-noir:hover{
                background-color:#ffffff;
                color:black;
            }
            .zone{
                background-color: rgb(245,241,235);
            }
            .deplacer{
                margin-left: 5rem;
                margin-right: 5rem;
            }
            
            .size-title{
                font-family: "FrederickatheGreat"; 
            }
            .h4{
                margin-top: -10px;
            }
           .color{
            color: #f1cb76;
           }
           .centered{
               text-align: center;
           }
            
/* Fin Zone initialisation tout */


/* Début Zone header/menu.php */
            .header_area .main-menu .navbar .navbar-brand{
                margin-left:  2rem ;
                color: #ecf0f1;
            }

            .header_area .main-menu .nav-item .nav-link{
                margin-left:  2rem ;
                font-family: "FrederickatheGreat"; 
                font-weight: 500;
                color:#ecf0f1;
            }


            .header_area .main-menu .nav-item .nav-link:hover{
                font-family: "FrederickatheGreat";
                font-weight: 500;
                color: #f1cb76;
            
            }

            .header_area .main-menu .nav-item .nav-link:hover{
            /*text-decoration:underline;*/
            border-bottom:2px solid #f1cb76;
            }
/* FIN Zone header/menu.php */

/* Début Zone bannière/imagerecherche.php */
            .premiere-partie{
                width: 100%;
                height: 800px;
                background-size: cover;
                background-image: url(../images/box-of-harvest-vegetables.jpg);
                
            }
            .premiere-partie .picturepresentation{
                
                padding-top: 17%;
                padding-left: 10%;
                padding-right: 10%;
            }
            .premiere-partie .picturepresentation .marge-top{
                margin-top: 200px;
            }
            .premiere-partie .picturepresentation .ok .image-start 
            {
            float: center;
            padding-top: -15%;
            }
/* FIN Zone bannière/imagerecherche.php */

.premiere .picture{
   background-color: rgb(245,241,235);
  
   /* width: 100%;
    height: 1200px;
    background-size: 2000px;
    background-image: url(../images/apple-2788638__480[1].jpg);*/
}
.block{
    
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.plus .supplement{
    background-color: rgb(245,241,235);
    height: 250px;
    width: 100%;
}

/* Début Zone map */
            #map{
                width: 100%;
                height: 100vh;
            }
/* FIN Zone map */

/* Début Zone footer */
            .footer{
                padding: 2.5rem ;
                color: #999;
                border-top: .05rem solid #e5e5e5;
                background-color:#1e1f1a;
            }
            .position_left{
                text-align: right;
                padding-right:  2.5rem;
               

            }
            .fa-facebook-square{
                color: #3b5998;
                padding-right:  2.5rem;
            }

            .fa-instagram{
               color: #c27832;
               padding-right:  2.5rem;
            }
            .fa-linkedin{ 
                color: #0e76a8;
                padding-right:  2.5rem;
            }
            .fa-twitter{ 
                color: #00acee;
            }
            

/* FIN Zone footer */